html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1%;
  grid-template-rows: repeat(12, 1fr);
}

.navigation {
  background-color: aqua;
  grid-row: 1/13;
}

.message-board {
  grid-area: 4/4/8/4;
  margin-bottom: 1rem;
}

.profile {
  background-color: blueviolet;
  grid-area: 1/2/3/6;
  gap: revert;
}

.projects-section {
  grid-area: 4/2/12/4;
}

.trending {
  grid-area: 8/4/12/4;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.navigation .logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.navigation .logo h1 {
  font-size: 3.7rem;
}
.navigation .logo svg {
  width: 25%;
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
}
.navigation .main-nav,
.navigation .sec-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.navigation .main-nav a,
.navigation .sec-nav a {
  font-size: 2.5rem;
  color: inherit;
  text-decoration: none;
  padding: 0.75rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
.profile .greeting {
  font-size: 2rem;
}
.profile .profile-name {
  font-size: 4rem;
  font-weight: bold;
}

.projects-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-section > h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  gap: 3rem;
  justify-items: center;
}
.projects .card {
  border: 1px solid rgba(0, 0, 0, 0.034);
  box-shadow: 0 0 15px 2px;
  border-radius: 20px;
  padding: 1rem;
  max-width: 800px;
}
.projects .card h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.projects .card p {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top: 25%;
}

.message-board {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.message-board h2 {
  font-size: 3rem;
}
.message-board hr {
  width: 80%;
  height: 2px;
  margin-top: 2rem;
}
.message-board .message-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.034);
  box-shadow: 0 0 8px 2px;
  border-radius: 20px;
}
.message-board .message-card h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
  text-align: center;
  padding-top: 1rem;
}
.message-board .message-card p {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.trending {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.trending h2 {
  font-size: 3rem;
  margin: 2rem 0;
}
.trending .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.034);
  box-shadow: 0 0 8px 2px;
  border-radius: 20px;
  height: 100%;
  place-items: center;
}
.trending .card .name {
  padding: 2rem 0;
  font-size: 1.5rem;
}/*# sourceMappingURL=styles.css.map */